<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Inln</a>
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Web-разработка <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Content("~/web/portfolio")">Наши работы</a></li>
                    <li><a href="@Url.Content("~/web/facebook")">Facebook-приложения</a></li>
                    <li><a href="@Url.Content("~/web/stages")">Стадии разработки</a></li>
                    <li><a href="@Url.Content("~/web/support")">Сопровождение сайтов</a></li>
                    <li><a href="@Url.Content("~/web/cms")">Система управления Inln C3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Корпоративные порталы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Порталы Microsoft SharePoint</a></li>
                    <li><a href="#">Корпоративные информационные системы</a></li>
                    <li><a href="#">Аудит IT-систем</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Компания <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Content("~/company/contacts")">Контакты</a></li>
                    <li><a href="#">Технологии разработки</a></li>
                    <li><a href="#">Методологии разработки</a></li>
                    <li><a href="#">Схемы работы</a></li>
                    <li><a href="#">Контроль качества</a></li>
                    <li><a href="#">Гарантии результата</a></li>
                    <li><a href="@Url.Content("~/company/response")">Отзывы клиентов</a></li>
                    <li><a href="@Url.Content("~/company/customers")">Наши клиенты</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>