@model inln_bootstrap.Areas.Admin.Models.ClientModel

@{
    ViewBag.Title = "Удаление клиента";
}

<h2>Вы действительно хотите удалить клиента?</h2>

<fieldset>
    <legend>Данные клиента</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Logo)
    </div>
    <div class="display-field">
        @if (!String.IsNullOrEmpty(Model.Logo))
        {
        <img src="@Url.Content(Model.Logo)" width="140" height="80" alt="" />
        }
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions">
        <input type="submit" class="btn btn_primary" value="Удалить" />
        @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn" })
    </div>
}
