@model IEnumerable<inln_bootstrap.Areas.Admin.Models.ClientModel>

@{
    ViewBag.Title = "Порядок вывода";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
}

<p><button type="button" id="get-order" class="btn btn_primary">Сохранить сортировку</button> @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn" })</p>

<p>В данном порядке сортировки отображаются клиенты на странице "Наши клиенты"</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Logo)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody class="sortable">
        @foreach (var item in Model) {
        <tr id="client_@item.ClientId">
            <td>
                @if (!String.IsNullOrEmpty(item.Logo))
                {
                <img src="@Url.Content(item.Logo)" width="140" height="80" alt="@item.LogoAlt" title="@item.LogoTitle" /> 
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
        }
    </tbody>
</table>
